# Build artifacts
bin/
obj/
**/bin/
**/obj/

# IDE / editor
.vs/
.vscode/
.idea/

# Versionamento
.git/
.gitignore

# Segredos locais (nunca devem ir para a imagem)
.env
.env.*
appsettings.Development.json

# Outros
node_modules/
README.Docker.md
*.user
